


/* This comes from inline css in default.html */

body {
    margin: 10px;
    background-color: #8080C0;
}

.page {
    margin-left: auto;
    margin-right: auto;
    min-height: 800px;
/*    height: auto !important;
    height: 800px;*/
    width: 960px;
    background-color: #D3D3D3;
    border: 1px solid #A9A9C9;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}

.page-header {
    background-color: #444444;
    width: 100%;
    height: 120px;
    padding-top: 10px;
    -moz-border-radius-topleft: 20px;
    -webkit-border-top-left-radius: 20px;
    -moz-border-radius-topright: 20px;
    -webkit-border-top-right-radius: 20px;
    border-bottom: 3px groove #8B8B8B;
}

.prop {
    float: right;
    width: 1px;
    height: 680px;
}

.soft-corners {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.page-header img {
    border: 0;
    margin-left: 152px;
    /* margin-right: auto; */
}


/* 
    Document   : contentfree.css
    Created on : 07/04/2010, 8:00:23 PM
    Author     : dylan
    Description:
        Basic move to unify segmented inline css
*/



.page_content {
    margin-top: 10px;
    border: 1px solid #AAAAAA;
    float: left;
    width: 596px;
    min-height: 600px;
    background-color: white;
    padding: 2px;
}


/* blog_index.html */

.article_index_heading {
    font-size: xx-large;
    /*margin-left: -10px;*/
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
}

.article_index {
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 10pt;
    max-width: 700px;
    color: black;
    text-decoration: none;
    padding: 3px;
    margin-left: 30px;
}
.article_index_title {
    font-weight: bold;
    font-size: 11pt;
    text-decoration: none;
    color: #D2B48C;
}
.article_index_description {
    font-size: small;
    margin-left: 50px;
}
a.article_index_link {
    display: block;
}
a.article_index_link:visited {
    text-decoration: none;
}
a.article_index_link:hover {
    background: #E0FFFF;
}
.article_index_date {
    float: right;
    font-size: xx-small;
    font-weight: bold;
}

/* blog_article.html */

.article_title {
    font-weight: bold;
    font-size: xx-large;
    color: #D2B48C;
}
.article_box {
    padding-top: 20px;
    max-width:500px;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    margin-left: 30px;
}
.article_body {
    min-height: 200px;
    font-size: small;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    /*font-family: Verdana, Geneva, sans-serif;*/
}
.article_author {
    font-size: small;
}
.article_date {
    font-size: x-small;
}
.article_categories {
    font-size: x-small;
}

a.ni {
    color: red;
}                     

a.ni:hover {
    color: red;
}

a.ni:visited {
    color: red;
}  

.sidebar {
    position: absolute;
    height: 100%;
}

ul.menu {
    font-family: arial;
    font-size: 8pt;
    font-weight: bold;
    list-style-type: none;
    width: 48px;
        padding: 0px;
        margin-left: 8px;
        margin-right: 8px;
        margin-top: 10px;
        width: 100px;
        float: left;
        border: 1px solid #AAAAAA;
        background-color: #EEEEEE;
        height: 120px;
        padding-top: 10px;
        padding-bottom: 5px;
    }
    ul.menu li {
        margin-left: 0px;
        padding-left: 0px;
        margin: 0px;
    }
    ul.menu a {
        text-decoration: none;
        display: block;
        padding: 2px;
    }
    ul.menu a:visitied {
        color: blue;
    }
    ul.menu a:hover {
        background-color: #E0FFFF;
    }

