
p {
	margin-bottom: 30px;
}

.page-header {
	width: 100%;
	background: #36323d;
	padding-top: 5px;
	margin-bottom: 10px;
}

.app-link {
	margin: 2px; 
	padding: 2px; 
	background: #D0D0D0;
	border-radius: 4px;
}

.app-link-icon {
	width: 34px;
	height: 34px;
	float: left;
}

.app-link-text {
	margin-left: 36px;
}