
body {
	font-family: helvetica, arial, sans-serif;
}

/*
#main-pane {
	padding-left: 10px;
	width: auto;
	background: #777777;
	border: 1px solid black;
	border-radius: 10px;
}
*/

#world {
	border: 3px groove #CCCCCC;
}

.controlbar {
	width: 600px;
	text-align: right;
}