<!--
Select/Change the current theme

-->

<div id="theme-select" class="module">
    
    <div>Theme Selector</div>
    <form name="theme_select" >
        <select id="t_sel" name="opt" onchange="change_theme(this.value);save_theme(this.value);" 
          title="Themes are mostly for development, but may provide some novelty ;-)" >
            <option value="base.css">Default</option>
            <option value="test.css">Test</option>
            <option value="font_test.css">Font test</option >
            <option value="alien.css">Alien</option>
        </select>
    </form>
    
    <!-- Maybe add font selector here -->
    
    <!-- and font size selector here -->
    
    <script type="text/javascript">
    // Plain Javascript for setting themes to cookies 
    // All data is found in the select options above
    
    //var DEFAULT_THEME = 'base.css'; /* Should set this from <link> */
    
    var store = new Persist.Store('Theme Store');
    
    var DEFAULT_THEME = document.getElementById("base-style").getAttribute('href').substr(5);
    
    // Save the selected theme to a cookie
    function save_theme(file) {
        store.set('theme', file);
    }
    
    // Change the theme currently displayed
    function change_theme(file) {
        el = document.getElementById("base-style");
        el.setAttribute('href', '/css/' + file);
    }
    
    // Retrieve the theme from cookie
    function get_theme() {
        return store.get('theme', function(ok, val) {
            if(ok) {
                return val;
            } else {
                return DEFAULT_THEME;
            }
        });
    }
    
    // Restore the theme from cookie
    function restore_theme() {
        var theme = DEFAULT_THEME;
        store.get('theme', function(ok, val) {
            if(ok) {
                theme = val;
            }
        });
        return theme;
    }
    
    // Set the current theme selection 
    function select_theme(theme) {
        var t_sel = document.theme_select.opt;
        for(i=0; i<t_sel.length;i++) {
            
            if(t_sel[i].getAttribute('value') == theme) {
                //alert(t_sel[i].getAttribute('value'));
                t_sel[i].selected = true;
                break;
            }
        }
    }
    
    var current_theme = restore_theme();
    select_theme(current_theme);
     
    </script>
</div>
