<!DOCTYPE html >

<html>
  <meta http-equiv="Cache-Control" content="no-cache" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="author" content="Dylan Evans, dylan@dje.me"/>
  <meta name="description" content="My Blog" />
   
  <title>{{ page.title }}</title>
  
  <link rel="stylesheet" type="text/css" href="/css/blueprint/screen.css" >
  <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">
    <!--[if lt IE 8]><link rel="stylesheet" href="../../blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  <link rel="stylesheet" href="/css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">
  <!--  <link id="base-style" rel="stylesheet" type="text/css" href="/css/simple.css"> -->
  <link rel="stylesheet" href="/css/dje.css" type="text/css" />
  
  <link rel="icon" type="image/png" href="/images/cf_icon.png">
  <link rel="apple-touch-icon" href="/images/cf_icon.png">
  <link rel="alternate" type="application/rss+xml" 
    title="Content Free Blog" href="http://dylan-evans.github.com/rss.xml">
  
  <script type="text/javascript" src="/js/persist-js-0.1.0/persist.js"><!-- --></script>
</head>

<body>
  <div class="page">
    <div class="page-header">
      <a href="/"><img alt="CONTENT FREE" src="/images/dje_banner_micro.png"></a>
    </div>
    <div class="prop"></div>

    <div id="sidebar-left" class="span-4">
        {% include menu.html %}
		
    </div>
    <div id="page-content" class="soft-corners span-16">
      {% include ie6nomore.html %}
      {{ content }}
      
    </div>
    
  <!-- <div class="page-footer span-24"> 
    Last Build: {{ site.time }} by <a href="mailto:dylan@dje.me">Dylan Evans</a>
  </div> -->
  {% include google_analytics.html %}
  </div>
 
</body>
</html>
