<!DOCTYPE html >

<html>
<head>
  <meta name="google-site-verification"
  content="QRwv4KXG84LAI7ymIf98zP2A4A36YydwWnkVofR0EbQ" />
  <meta http-equiv="Cache-Control" content="no-cache" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="author" content="Dylan Evans, dylan@dje.me"/>
  <meta name="description" content="My Blog" />
   
  <title>{{ page.title }}</title>
  <link id="base-style" rel="stylesheet" type="text/css" href="/css/base.css">
  <link rel="icon" type="image/png" href="/images/cf_icon.png">
  <link rel="apple-touch-icon" href="/images/cf_icon.png">
  <link rel="alternate" type="application/rss+xml" 
    title="Content Free Blog" href="http://dylan-evans.github.com/rss.xml">
  
  <script type="text/javascript" src="/js/persist-js-0.1.0/persist.js"><!-- --></script>
  
</head>

<body>
  <div class="page">
    <div class="page-header">
      <a href="/"><img alt="CONTENT FREE" src="/images/cf_banner10.png"></a>
    </div>
    <div class="prop"></div>

    <div id="sidebar-left">
        {% include menu.html %}
    
        {% include theme_select.html %}
    </div>
    <div id="page-content" class="soft-corners">
      {% include ie6nomore.html %}
      {{ content }}
      
    </div>
    
    <div id="sidebar-right">
        {% include twitter.html %}
    </div>
    
  <div class="page-footer"> 
    Last Build: {{ site.time }} by <a href="mailto:dylan@dje.me">Dylan Evans</a>
  </div>
  </div>
 
</body>
</html>
