<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html>
<head>
  <meta http-equiv="cache-control" content="no-cache">
  <meta name="author" content="Dylan Evans, dylan@dje.me"/>
   
  <title>{{ page.title }}</title>
  <link id="base-style" rel="stylesheet" type="text/css" href="/css/base.css">
  <link rel="icon" type="image/png" href="/images/cf_icon.png">
  <link rel="apple-touch-icon" href="/images/cf_icon.png">
  <link rel="alternate" type="application/rss+xml" 
    title="Content Free Blog" href="http://dylan-evans.github.com/rss.xml">
  
  </script>
  
</head>

<body>
  <div class="page">
    <div class="page-header">
      <a href="/"><img alt="CONTENT FREE" src="/images/cf_banner10.png"></a>
    </div>
    <div class="prop"></div>

    <div id="sidebar-left">
        {% include menu.html %}
    
        {% include theme_select.html %}
    </div>
    <div id="page-content" class="soft-corners">
      {% include ie6nomore.html %}
      {{ content }}
      
    </div>
    
    <div id="sidebar-right">
        {% include twitter.html %}
    </div>
    
  <div class="page-footer"> 
    Last Build: {{ site.time }} by <a href="mailto:dylan@dje.me">Dylan Evans</a>
  </div>
  </div>
 
</body>
</html>
