---
layout: default
blog: true
---
{% if 1 %}
  {% for p in site.posts %}
    {% if p.url == page.url %}
      {% assign post = p %}
    {% endif %}
  {% endfor %}
{% endif %}
<div class="post">{{ post.content }}</div>

<hr/>

<div class="disqus">
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'contentfree';

    // The following are highly recommended additional parameters. Remove the slashes in front to use.
    var disqus_identifier = '{{page.url}}';
    var disqus_url = 'http://dylan-evans.github.com{{page.url}}';

    (function() {
        var dsq = document.createElement('script'); 
        dsq.type = 'text/javascript'; 
        dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
